
<h2 style="text-align:center">Welcome To Resume Making WebSite</h2>

<h4 style="text-align:center">Create New Resume Please Select CREATERESUME Button</h4>

@*<a style="text-align:center" href="~/Home/Details">CREATE RESUME </a>*@
<button style="text-align:center"  class="text-center"  onclick="location.href = 'Details'">CREATE RESUME</button>



